<html>
<head>
    <title>Meu site aí</title>
</head>
<body>
<div>
    <h1>
        BLOG DO JOSEPH EM DJANGO
    </h1>
</div>
<div>
    <h2>
    Escrevi e saí correndo
    </h2>
    <p>
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
    <p>Publicado: 31.12.2018, 00:50</p>
</div>

<div>
    <h2>
    Comi o cu de quem tá lendo
    </h2>
    <p>
        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
    <p>Publicado: 31.12.2018, 00:52</p>
</div>

{% for post in posts %}
    <div>
        <p>publicado em: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</body>
</html>